:root {
  --primary: #7c7aff;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
  height: 2000px;
}

/* NAVBAR STYLE */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 1);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  transition: transform 0.3s ease;
}

.navbar .navbar-extra a {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 75%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  /* mindahin navbar ke kanan ketika di buka di tablet maupun mobile */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    color: var(--bg);
    margin: 2rem;
    font-size: 1.4rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.125);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 62%;
  }
}
